@import url("https://fonts.googleapis.com/css?family=Caveat|Montserrat|Open+Sans|PT+Serif|Playfair+Display|Playfair+Display+SC|Quicksand|Roboto+Condensed&display=swap");

$--clr-text: #777777;
$--clr-title: #525252;
$--clr-pink: #ef90a4;
$--clr-pink-soft: #fef0f0;
$--clr-green: #84b491;
$--clr-gold: #ca9868;
$--clr-border: #e0d9d9;
// $--clr-border: red; 

$--ff-text: "Quicksand", sans-serif;
$--ff-title: "Playfair Display SC";
$--ff-serif: "PT Serif", serif;
$--ff-menu: "Roboto Condensed", sans-serif;
$--ff-mono: "Montserrat";
$--ff-cursive: "Caveat", cursive;
