// @import url("https://fonts.googleapis.com/css?family=Caveat|Montserrat|Open+Sans|PT+Serif|Playfair+Display|Playfair+Display+SC|Quicksand|Roboto+Condensed&display=swap");
@import "font-face";

$--clr-text: #777777;
$--clr-title: #525252;
$--clr-pink: #ef90a4;
$--clr-pink-soft: #fef0f0;
$--clr-green: #84b491;
$--clr-gold: #ca9868;
$--clr-border: #e0d9d9;

$--ff-menu: "Roboto Condensed", sans-serif;
$--ff-text: "Quicksand", sans-serif;
$--ff-title: "Playfair Display SC";
$--ff-title-2: "Playfair Display";
$--ff-serif: "PT Serif", serif;
$--ff-mono: "Montserrat";
$--ff-cursive: "Caveat", cursive;

%--ff-menu{
  font-family:$--ff-menu ;
  font-size: 14px;
  text-transform: uppercase;
  color: #7e7e7e;
  text-decoration: none;
}
%--hd-title {
  font-family: $--ff-title-2;
  font-size: 30px;
  //   line-height: 60px;
  color: wite;
}
%--ft-text {
  font-family: $--ff-text;
  font-size: 16px;
  color: $--clr-text;
}
%--ft-title {
  font-family: $--ff-title;
  font-size: 24px;
  color: $--clr-title;
}
%--ft-title-2 {
  font-family: $--ff-title-2;
  font-size: 24px;
  color: $--clr-title;
}
%--ft-cursuve {
  font-family: $--ff-cursive;
  font-size: 30px;
  color: $--clr-title;
}
// // p,
// // a {
// //   @extend %--ft-text;
// // }
