/* --------- CONTACTS BEGIN --------- */
.contacts {
  background-color: white;
  // background-color: indigo;
}
.contacts__row {
  width: 100%;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  //   background: red;
}
.contacts__body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.contacts__contacts,
.contacts__social {
  max-width: 100%;
  // min-width: 280px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1;
  font-family: var(--ff-text);
  font-size: 16px;
  line-height: 40px;
  color: $--clr-text;
  //   background: green;
}

.contacts__contacts ul,
.contacts__social ul {
  min-width: 250px;
  // border: 1px solid red;
  //   background-color: darkblue;
}

.contacts__contacts h3,
.contacts__social h3 {
  font-family: serif;
  font-weight: Semi-Bold;
  font-size: 18px;
  letter-spacing: 2px;
}
// .contacts__contacts li,
// .contacts__social li {
//   // line-height: 30px;
// }
.contacts__body a {
  color: $--clr-text;
}
.contacts__body .fab,
.contacts__body .fas {
  font-size: 18px;
}
.contacts__contacts i,
.contacts__social i {
  width: 25px;
  height: 25px;
  padding-right: 30px;
  color: $--clr-pink;
}
/* --------- CONTACTS END --------- */
