/* --------- MAX-WIDTH 570px BEGIN --------- */
@media screen and (max-width: 570px) {
  .header__row {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  .header__left {
    justify-content: center;
    align-items: center;
    background-color: $--clr-pink;
  }
  .header__slogan {
    justify-content: center;
  }
  .header__left h1 {
    color: white;
    text-align: center;
  }
  .header__right {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .header__image {
  }
  .header__btn {
    width: 200px;
    height: 60px;
    margin: 20px 0px 30px 0px;
    font-family: var(--ff-text);
    font-size: 14px;
    text-transform: uppercase;
    color: #945151;
    background: #fff;
  }
}

/* --------- MAX-WIDTH 570px BEGIN --------- */
